/* Desktop and Tablet Pro */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .navbar-list {
        display: none;
    }

    .header {
        display: none;
    }

    /* ====== Tạo overlay ====== */
    .mobile-overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);

        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility, background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    .mobile-checkbox:checked ~ .mobile-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* ====== Navbar ====== */
    .mobile-header {
        padding-top: 2rem;
        background: #fbfaff;
    }

    .fixed {
        position: sticky;
        z-index: 1;
    }

    .navbar-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .navbar-mobile-feaure {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-mobile-email,
    .navbar-mobile-toogle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid #5d3bee33;
        border-radius: 50%;
    }

    .navbar-mobile-email__img {
        display: inline-block;
        padding: 1.04rem 0.77rem;
    }

    .navbar-mobile::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        border: 1px solid #d6d3e2;
    }

    /* ====== Menu drawer ====== */
    .menu-drawer {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 40%;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 60px 0px 0px 60px;

        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .menu-drawer-list {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item__link {
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 2.2rem 0;
    }

    .mobile-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer {
        left: 25%;
        padding: 40px 0px 0px 40px;
    }
}

/* Mobile figma */
@media screen and (max-width: 390px) {
    .container {
        width: 310px;
        margin: 0 auto;
        padding: 0;
    }
}

/* Mobile small */
@media screen and (max-width: 350px) {
    .navbar-mobile::after {
        display: none;
    }
}
