/* PC */
@media screen and (min-width: 1024px) {
    .mobile-header {
        display: none;
    }

    .dots-mobile {
        display: none;
    }

    .people-decor-left__mobile,
    .people-decor-right__mobile {
        display: none;
    }
}

/* Tablet Mini, AIR */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .header {
        display: none;
    }

    /* ====== Tạo overlay ====== */
    .mobile-overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);

        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility, background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    .mobile-checkbox:checked ~ .mobile-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* ====== Navbar ====== */
    .mobile-header {
        padding-top: 2rem;
        background: #fbfaff;
    }

    .fixed {
        position: sticky;
        z-index: 3;
    }

    .navbar-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .navbar-mobile-feaure {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-mobile-email,
    .navbar-mobile-toogle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid #5d3bee33;
        border-radius: 50%;
    }

    .navbar-mobile-email__img {
        display: inline-block;
        padding: 1.04rem 0.77rem;
    }

    .navbar-mobile::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        border: 1px solid #d6d3e2;
    }

    /* ====== Menu drawer ====== */
    .menu-drawer {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 40%;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 60px 0px 0px 60px;

        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .menu-drawer-list {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item__link {
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 2.2rem 0;
    }

    .mobile-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    /* ====== Hero ====== */
    .hero-body {
        flex-wrap: wrap;
    }

    .hero__decor {
        display: none;
    }

    .hero-media {
        order: 2;
        width: 100%;
    }

    .hero-info {
        width: 100%;
        order: 1;
    }

    .hero-info__desc {
        width: 31rem;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-info-button {
        justify-content: center;
    }

    .hero-info-follow {
        display: none;
    }

    .hero-media__decor {
        left: 0rem;
    }

    .hero-info__heading,
    .hero-info__desc,
    .hero-media {
        text-align: center;
    }

    .hero-media {
        margin-top: 5rem;
    }

    /* ====== Client ====== */
    .client-body {
        flex-direction: column;
    }

    .client-wrap {
        width: 100%;
        display: block;
        text-align: center;
    }

    .client-wrap__heading {
        margin-left: auto;
        margin-right: auto;
    }

    .client-block {
        width: 100%;
        margin-top: 5rem;
    }

    .client-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* ========= Specialities ========= */
    .dots-mobile {
        display: none;
    }

    .about-stats__quantity {
        font-size: 5rem;
    }

    .about-stats__desc {
        font-size: 1.6rem;
    }

    /* ========= People ========= */
    .people__text {
        width: 67rem;
        font-size: 2rem;
    }

    .people-decor-left__mobile,
    .people-decor-right__mobile {
        display: none;
    }

    /* ========= Client ========= */
    .client-list {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .header {
        display: none;
    }

    /* =========== Tạo overlay =========== */
    .mobile-overlay {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);

        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility, background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    .mobile-checkbox:checked ~ .mobile-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* =========== Navbar =========== */
    .mobile-header {
        padding-top: 2rem;
        background: #fbfaff;
    }

    .fixed {
        position: sticky;
        z-index: 3;
    }

    .navbar-mobile {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .navbar-mobile-feaure {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-mobile-email,
    .navbar-mobile-toogle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        border: 1px solid #5d3bee33;
        border-radius: 50%;
    }

    .navbar-mobile-email__img {
        display: inline-block;
        padding: 1.04rem 0.77rem;
    }

    .navbar-mobile::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        border: 1px solid #d6d3e2;
    }

    /* =========== Menu drawer =========== */
    .menu-drawer {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 25%;
        right: 0;
        bottom: 0;
        background-color: #fff;
        padding: 40px 0px 0px 40px;

        transform: translateX(100%);
        transition: all 0.5s ease;
    }

    .menu-drawer-list {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item {
        display: flex;
        flex-direction: column;
    }

    .menu-drawer-item__link {
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 2.2rem 0;
    }

    .mobile-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    /* ========== Hero ========== */
    .hero {
        padding-top: 5.05rem;
    }

    .hero-body {
        flex-wrap: wrap;
    }

    .hero__decor {
        display: none;
    }

    .hero-media {
        order: 2;
        width: 100%;
    }

    .hero-info {
        width: 100%;
        order: 1;
    }

    .hero-info__heading {
        width: 26rem;
        color: #080415;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.19;
        letter-spacing: -0.168rem;
        text-align: left;
    }

    .hero-info__desc {
        width: 31rem;
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
        text-align: left;
    }

    .hero-info-button {
        margin-top: 3rem;
    }

    .hero-info-button__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 14.7rem;
        height: 5.5rem;
        color: #fdfdfd;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.87;
        padding: 0;
    }

    .hero-info-button__btn {
        color: #080415;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.87;
    }

    .hero-info-follow {
        margin-top: 2.5rem;
    }

    .hero-media {
        margin-top: 2rem;
        width: 25.9rem;
        height: 35.5rem;
    }

    .hero-media__decor {
        left: -3.2rem;
    }

    .hero-media__img {
        width: 25.9rem;
        height: 35.5rem;
        object-fit: cover;
    }

    /* ========== Client ========== */
    .client {
        margin-top: 12rem;
    }

    .client-body {
        flex-direction: column;
    }

    .client-wrap {
        display: block;
        width: 100%;
        text-align: center;
    }

    .client-wrap__decor {
        width: 4.8rem;
    }

    .client-wrap__heading {
        width: 16.9rem;
        margin-left: auto;
        margin-right: auto;
        color: #080415;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.112rem;
    }

    .client-block {
        width: 100%;
        margin-top: 4.2rem;
    }

    .client-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3.4rem;
    }

    /* ========== Specialities ========== */
    .specialities {
        padding-top: 2rem;
        margin-top: 7rem;
        padding-bottom: 3rem;
    }

    .specialities-bottom {
        margin-top: 5rem;
    }

    .row-mobile {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .specialities__heading {
        color: #080415;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: -0.144rem;
    }

    .specialities__desc {
        width: 35rem;
        margin-top: 2rem;
        color: #51586a;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
    }

    .specialitie-info:hover {
        transform: translateY(0);
    }

    .dots-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .dots-mobile__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8.2rem;
        height: 2rem;
    }

    .dots-mobile__item {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: #ccc;
    }

    .dots-mobile__item--action {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #5d3bee;
        outline: 1px solid #5d3bee;
        outline-offset: 0.4rem;
    }

    /* ========== Works ========== */
    .works-body {
        padding-top: 6.9rem;
        padding-bottom: 6rem;
    }

    .works-row {
        display: block;
    }

    .works-bottom {
        margin-top: 6rem;
    }

    .works__heading {
        width: 30.1rem;
        color: #fff;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: -0.144rem;
        margin-left: auto;
        margin-right: auto;
    }

    .works__desc {
        width: 35rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.62;
        margin-left: 0;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .works-item_decor {
        width: 70%;
    }

    .works-item-info__heading {
        font-size: 2.4rem;
        line-height: 1.41;
        letter-spacing: -0.096rem;
    }

    .works-item-info__desc {
        width: 17.6rem;
        font-size: 1.4rem;
        line-height: 1.42;
        margin-top: 0.4rem;
    }

    .works-item-info__link {
        font-size: 1.6rem;
        line-height: 1.75;
        margin-top: 0.4rem;
    }

    .works-item-media__img {
        width: 12.2rem;
        height: 9.3rem;
        object-fit: cover;
    }

    .works-btn {
        min-width: 15.4rem;
        height: 5.6rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.87;
        padding: 1.3rem 3.3rem;
    }

    /* ========== About ========== */
    .about {
        padding-top: 12rem;
        background-image: linear-gradient(to bottom, #fff 82%, #fbfaff 82%);
    }

    .about-top-intro__text {
        font-size: 2rem;
        font-weight: 500;
        line-height: 4rem;
        letter-spacing: -0.08rem;
    }

    .about__heading {
        font-size: 3.6rem;
        font-weight: 500;
        letter-spacing: -0.144rem;
        margin-top: 1rem;
    }

    .about__desc {
        width: 35rem;
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
        margin-top: 2rem;
    }

    .about-stats {
        padding: 3rem 0;
        margin-top: 5rem;
        column-gap: 5rem;
    }

    .about-stats__item:nth-child(1) {
        order: 1;
    }

    .about-stats__item:nth-child(3) {
        order: 3;
    }

    .about-stats__item:nth-child(3) {
        order: 2;
    }

    .about-stats__quantity {
        font-size: 3rem;
        font-weight: 500;
        line-height: 4.2rem;
        letter-spacing: 0.09rem;
    }

    .about-stats__desc {
        width: 7.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.37;
    }

    .about-stats::before,
    .about-stats::after {
        width: 35rem;
    }

    .video-container-intro {
        width: 11.8rem;
        height: 4.4rem;
    }

    .video-container-intro__text {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 3rem;
        padding: 0.7rem 2.1rem;
    }

    /* ========== About ========== */
    .people {
        padding-top: 9.1rem;
        padding-bottom: 6.7rem;
    }

    .people__heading {
        font-size: 3.6rem;
        font-weight: 500;
        letter-spacing: -0.144rem;
    }

    .people__desc {
        width: 35rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
        margin-top: 2rem;
    }

    .people__text {
        width: 35rem;
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 4rem;
    }

    .people-info__name {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .people__text--bottom {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.81;
    }

    .people-decor-left__img,
    .people-decor-right__img {
        display: none;
    }

    .people-decor-left__mobile {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .people-decor-right__mobile {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    /* ========== Client ========== */
    .client {
        margin-top: 9rem;
    }

    .client__heading {
        width: 31.6rem;
        font-size: 3.6rem;
        letter-spacing: -0.144rem;
    }

    .client-list {
        width: 100%;
        margin-top: 4.2rem;
    }

    .client-item__heading--action,
    .client-item__heading {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3rem; /* 125% */
        letter-spacing: -0.096rem;
    }

    .client-item__heading {
        width: 26.4rem;
    }

    .client-item--action,
    .client-item {
        position: relative;
        padding-left: 0;
        padding-bottom: 1.5rem;
    }

    .client-item {
        position: relative;
        padding-top: 4rem;
    }

    .client-item__desc {
        width: 31.6rem;
        margin-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: 400;
    }

    .client-item__icon,
    .client-item__icon--action {
        position: absolute;
        width: 3.3rem;
        height: 3.3rem;
    }

    .client-item__icon {
        bottom: 3.9rem;
    }

    .client-item__icon--action {
        bottom: 10.7rem;
        right: 0;
    }

    .client-item__img,
    .client-item__img-action {
        width: 0.9rem;
        height: 0.9rem;
        object-fit: cover;
    }

    .client-item__img-action {
        height: 0.2rem;
    }
}

@media screen and (max-width: 390px) {
    .container {
        width: 350px;
        margin: 0 auto;
    }
}
