*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.navbar-container {
    width: 1330px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 17rem;
    padding: 1.6rem 3.7rem;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    background: #5d3bee;
}

.btn:hover {
    opacity: 0.9;
}

.heading-section {
    color: #080415;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.224rem;
}

.desc-section {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

a {
    text-decoration: none;
}

/* ========== Header ========== */
.header {
    padding-top: 2rem;
    background-color: #fbfaff;
}

.fixed {
    position: sticky;
    z-index: 2;
    top: -1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfaff;
}

.navbar-link {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.navbar-link__email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.6rem;
    height: 4.6rem;
    border: 1px solid #5d3bee33;
    border-radius: 50%;
}

.navbar-link__address {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    display: flex;
}

.navbar-item__link {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.4rem 2.2rem;
}

.navbar-item__link:hover {
    text-shadow: 0 0 1px #000;
}

/* ========== Hero ========== */
.hero {
    padding-top: 4.4rem;
    background-color: #fbfaff;
}

.hero-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15.6rem;
}

.hero-media {
    width: 44%;
    position: relative;
    height: 70.5rem;
}

.hero-media__decor {
    position: absolute;
    left: -9.4rem;
    bottom: 0;
    height: 100%;
    object-fit: cover;
}

.hero-media__img {
    position: relative;
    width: 51.4rem;
    height: 70.5rem;
    object-fit: cover;
}

.hero-info {
    width: 43%;
    position: relative;
}

.hero-info__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.32rem;
}

.hero-info__desc {
    width: 37rem;
    margin-top: 2.5rem;
}

.hero-info-button {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 5rem;
}

.hero-info-button__btn {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    padding: 1rem 0;

    transition: all 0.5s ease;
}

.hero-info-button__btn:hover {
    text-decoration-line: underline;
}

.hero-info-follow {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 10.4rem;
}

.hero-info-follow__title {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.87;
}

.hero-info-follow__list {
    display: flex;
}

.hero-info-follow__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.hero-info-follow__item:hover {
    cursor: pointer;
}

.hero-info-follow__item + .hero-info-follow__item {
    margin-left: 2rem;
}

.hero__decor {
    position: absolute;
    right: 0;
    bottom: 0;
}
